<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.oauther2.mysql.mapper.SsoPermissionRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.oauther2.mysql.entity.SsoPermissionRole">
    <result column="id" property="id" />
        <result column="permission_id" property="permissionId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <resultMap id = "getUserInfoByUserNameMap" type = "com.zhang.oauther2.model.UserInfo">
        <result column="id" property="userId"/>
    </resultMap>
    <select id = "getUserInfoByUserName" resultMap="getUserInfoByUserNameMap">
        SELECT
            u.id,
            u.user_name,
            u.`password`,
            r.id,
            r.role_name,
            r.`code`
        FROM
            sso_user_role re
            INNER JOIN sso_user u ON re.user_id = u.id
            INNER JOIN sso_role r ON re.role_id = r.id
        WHERE
            r.STATUS = 1
            AND u.DELETE = 0
            AND u.user_name = #{userName};
    </select>

</mapper>
